# ==================================================
# CONFIGURAÇÕES DO [INFLUXDB] -> Grafana data source
# ==================================================
INFLUX_ADMIN_USER=usuario_123
INFLUX_ADMIN_PASSWORD=sua_senha
INFLUX_ORG=nome_empresa_ou_projeto
INFLUX_BUCKET=nome_bucket_telemetria_iot
INFLUX_TOKEN=meu_token_super_secreto_e_longo_123456

# ==================================================
# CONFIGURAÇÕES DO [GRAFANA]
# ==================================================
GRAFANA_ADMIN_USER=admin_grafana
GRAFANA_ADMIN_PASSWORD=SenhaDoGrafanaSegura123!

# ==================================================
# CONFIGURAÇÕES DO [DISCORD-ALERTA]
# ==================================================
DISCORD_WEBHOOK_URL=seu_webhook_do_discord